@{
    ViewBag.Title = "Реестр аукционов";
}

@section Scripts {
    <script src="~/scripts/app/require-config.js"></script>
    <script src="~/Scripts/app/controllers/auction.min.js"></script>   
}

<div id="auctionApp" class="row">
    <div ng-controller="auctionCtrl" class="row" ng-init="Init();checkOrder()">
        <div class="row">
            <form>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Поиск по номеру или товару</label>
                        <input type="text" ng-keyup="search()" ng-model="form.params.numberOrProduct" placeholder="Номер торга, наименование товара..." />
                    </div>
                    <div class="large-3 columns">
                        <label>Трейдер</label>
                        <select ng-change="search()" ng-model="form.params.traderid" ng-options="trader.id as trader.value for trader in enum.$traders.tradersEnum">
                            <option value="">Все</option>
                        </select>
                    </div>
                    <div class="large-3 columns">
                        <label>Брокер</label>
                        <select ng-change="search()" ng-model="form.params.brokerID" ng-options="broker.id as broker.value for broker in enum.$brokers.brokersEnum">
                            <option value="">Не указано</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns">
                        <label>С</label>
                        <input ng-change="search()" type="date" ng-model="form.params.fromDate" />
                    </div>
                    <div class="large-3 columns">
                        <label>До</label>
                        <input ng-change="search()" type="date" ng-model="form.params.toDate" />
                    </div>
                    <div class="large-3 columns">
                        <label>Статус</label>
                        <select ng-change="search()" ng-model="form.params.statusid" ng-options="status.id as status.value for status in enum.$statuses.statusEnum">
                            <option value="">Не указано</option>                            
                        </select>
                    </div>
                    <div class="large-3 columns">
                        <label>Товарная площадка</label>
                        <select ng-change="search()" ng-model="form.params.site" ng-options="exchange.id as exchange.value for exchange in enum.$exchanges.exchangesEnum">
                            <option value="">Не указано</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>   
        <div id="orderRow" class="row">            
            <table id="orderlist">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>Инициатор</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in Listform.rows">
                        <td ng-bind="order.date |  date : 'dd.MM.yyyy'"></td>
                        <td><a ng-href="~/Auctions/Order/{{order['<id>k__BackingField']}}" ng-bind="order.number"></a></td>
                        @*<td ng-bind="order.number"></td>*@
                        <td ng-bind="order.initiator"></td>
                    </tr>                    
                </tbody>
            </table>                    
        </div>
        <div id="submit" ng-if="!Listform.$isLoading && Listform.rows.length">
            <label ng-click="toggle_order('#orderRow');" class="text-center" colspan="8">Новые заявки</label>
        </div>

        <div class="row">    
                     <pagination pg-click="update(page, items)" pg-page="form.params.page" pg-count-pages="form.$countPages" pg-count-items="form.params.countItems" pg-count="form.$countItems"></pagination>               
            
            
            <div class="row">
                <table id="auctionlist" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>ДАТА АУКЦИОНА</th>
                            <th>НОМЕР</th>
                            <th>СТАТУС</th>
                            <th>НАИМЕНОВАНИЕ ТОВАРА</th>                            
                            <th>ТРЕЙДЕР</th>
                            <th>ЗАКАЗЧИК</th>
                            <th>ИСТОЧНИК</th>
                            <th>БРОКЕР</th>
                        </tr>
                    </thead>
                    <tbody id="content" style="visibility:hidden">
                        <tr ng-repeat="auction in form.rows">
                            <td ng-bind="auction.date | date : 'dd.MM.yyyy'"></td>
                            <td style="width:14%;"><a ng-href="~/Auctions/Index/{{auction['<Id>k__BackingField']}}" ng-bind="auction.number"></a></td>
                            <td style="width:8%;" ng-switch on="auction.statusId">
                                <span ng-switch-when="1" ng-bind="auction.status" class="label medium-12"></span>
                                <span ng-switch-when="2" ng-bind="auction.status" class="label success medium-12"></span>
                                <span ng-switch-when="3" ng-bind="auction.status" class="label error medium-12"></span>
                                <span ng-switch-when="4" ng-bind="auction.status" class="label info medium-12"></span>
                                <span ng-switch-when="5" ng-bind="auction.status" class="label warning medium-12"></span>
                            </td>
                            <td><span ng-repeat="lot in auction.lots">{{lot.Name}}</span></td>                
                            <td ng-bind="auction.trader"></td>     
                            <td>{{auction.customer | cutName}}</td>
                            <td style="width:6%;" ng-bind="auction.site"></td>
                            <td style="width:5%;" ng-bind="auction.broker.Code"></td>
                        </tr>
                        <tr ng-if="!form.$isLoading && !form.rows.length">
                            <td class="text-center" colspan="8">Нет записей</td>
                        </tr>
                        <tr ng-if="form.$isLoading">
                            <td colspan="14" class="text-center"><img src="Resources/Images/ajax-loader.gif" /> Загрузка...</td>
                        </tr>                      
                    </tbody>
                </table>
            </div>
            <br>
        </div>      
    </div>
</div>