<table class="table" style="width: 100%;">
    <tr>
        <th>Описание</th>
        <th></th>
    </tr>
    <tr ng-repeat="commertical in commetricalOffers">
        <td>{{commertical.description}}</td>
        <td>
            <a ng-href="commertical.file">Скачать</a>
        </td>
    </tr>
</table>
