<div class="form-horizontal">
    <div class="row panel">
        <h5>Проверка по реестрам торговых площадок</h5>
        <div class="row collapse">
            <div class="medium-10 columns">
                <span class="prefix">Участник Гос.Закупок</span>
            </div>
            <div class="medium-2 columns">
                <input class="label success" value="Да" />
            </div>
        </div>
    </div>
</div>