<div ng-init="Init(2)" >
    <div class="row text-center">
        <img src="Resources/Images/endedAuctions.jpg" style="height:100px" />
    </div>
    <div class="row">
        <form>
            <div class="row">
                <div class="medium-12">
                    <div class="row collapse">
                        <div class="medium-12 columns">
                            <input type="text" ng-keyup="search()" ng-model="searchParameters.numberOrProduct" placeholder="Наименование товара, номер аукциона/заявки..." />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="large-3 columns">
                        <label>С</label>
                        <datepicker dp-changed="search()" dp-value="searchParameters.fromDate" />
                    </div>
                    <div class="large-3 columns">
                        <label>До</label>
                        <datepicker dp-changed="search()" dp-value="searchParameters.toDate" />
                    </div>
                    <div class="large-3 columns">
                        <label>Статус</label>
                        <select ng-change="search()" ng-model="searchParameters.statusid">
                            <option value="">Не указано</option>
                            <option value="2">Состоялся</option>
                            <option value="3">Не состоялся</option>
                        </select>
                    </div>
                    <div class="large-3 columns">
                        <label>Товарная площадка</label>
                        <select ng-change="search()" ng-model="searchParameters.site" ng-options="item.id as item.name for item in markets track by item.id">
                            <option value="">Не указано</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <pagination pg-click="updateTable(page, items)" pg-page="table.currentPage" pg-count-pages="table.countPages" pg-count-items="searchParameters.countItems" pg-count="table.countItems"></pagination>
        <div class="row">
            <table id="auctionlist" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ДАТА АУКЦИОНА</th>
                        <th>НОМЕР АУКЦИОНА/ЗАЯВКИ</th>
                        <th>СТАТУС</th>
                        <th>НАИМЕНОВАНИЕ ТОВАРА</th>
                        <th>СУММА (тг.)</th>
                        <th>ИСТОЧНИК</th>
                        <th width="20%">ОТЧЕТ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!isLoading" ng-repeat="auction in table.rows">
                        <td ng-bind="auction.date | date : 'dd.MM.yyyy'"></td>
                        <td><a ng-href="Auctions/Index#/details/{{auction['<Id>k__BackingField']}}?referer=history" ng-bind="auction.number"></a></td>
                        <td ng-switch on="auction.statusId">
                            <span ng-switch-when="1" ng-bind="auction.status" class="label medium-12"></span>
                            <span ng-switch-when="2" ng-bind="auction.status" class="label success medium-12"></span>
                            <span ng-switch-when="3" ng-bind="auction.status" class="label error medium-12"></span>
                            <span ng-switch-when="4" ng-bind="auction.status" class="label info medium-12"></span>
                            <span ng-switch-when="5" ng-bind="auction.status" class="label warning medium-12"></span>
                        </td>
                        <td><span ng-repeat="lot in auction.lots">{{lot.Name}}</span></td>
                        <td>{{GetSumLots(auction.lots) | currency: "тг" : 2}}</td>
                        <td ng-bind="auction.site"></td>
                        <td>
                            <a ng-if="!auction.$reports" ng-click="loadReports(auction)">Показать</a>
                            <span ng-if="auction.$reports.length == 0">Отчет не сформирован</span>
                            <div ng-repeat="report in auction.$reports">
                                <a ng-href="{{$urlToArchive}}/file/{{report.id}}">{{report.fileName}}</a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="!isLoading && !table.rows.length">
                        <td class="text-center" colspan="8">Нет записей</td>
                    </tr>
                    <tr ng-if="isLoading">
                        <td class="text-center" colspan="8"><img src="Resources/Images/ajax-loader.gif" /> Загрузка...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination pg-click="updateTable(page, items)" pg-page="table.currentPage" pg-count-pages="table.countPages" pg-count-items="searchParameters.countItems" pg-count="table.countItems"></pagination>

        <br>
    </div>
</div>