<div ng-if="unreabilityData != null"  class="row">
    <span class="label" style="margin-top: 3em; margin-left: 5em"> Компания не найдена в списке неблагонадежных налогоплательщиков</span>
    <table style="margin-top: 3em; margin-left: 3em">
        <thead>
            <tr>
                <th>Сделки без фактического выполнения работ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Компания не найдена в списке неблагонадежных налогоплательщиков.</td>
            </tr>
        </tbody>
    </table>
</div>
