<label>Наименование: <span>{{company.name}}</span></label>
<label>БИН: <span>{{company.bin}}</span></label>
<label>Кбе: <span>{{company.kbe}}</span></label>
<label>Страна: <span>{{company.country}}</span></label>
<label>Адрес: <span>{{company.addressActual}}</span></label>
<label>Телефоны: <span>{{company.telephone}}</span></label>
<label>E-mail: <span>{{company.email}}</span></label>
<label>Почтовый индекс: <span>{{company.postCode}}</span></label>
<label>Директор: <span>{{company.director}}</span></label>
<label>ИИК: <span>{{company.iik}}</span></label>