<div ng-if="nonexeactData != null" class="row">
    @*<span class="label" style="margin-top: 3em; margin-left: 5em"> Данных по несовершенным сделкам не найдено.</span>*@
    <table style="margin-top: 3em; margin-left: 3em">
        <thead>
            <tr>
                <th>Сделки без фактического выполнения работ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Данных по несовершенным сделкам не найдено.</td>
            </tr>
        </tbody>
    </table>
</div>

