@{
    ViewBag.Title = "Поиск торгов";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/foundation/foundation-select.css" />
}

@section Scripts {
    <script src="~/scripts/app/controllers/search/procurement.js"></script>
}

<div id="search_container" class="row">
    <div ng-controller="SearchCtrl" class="row" ng-init="init()">
        <div class="row panel">
            <form>
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row collapse">
                            <div class="medium-10 columns">
                                <input type="text" placeholder="Введите наименование или номер закупки." ng-model="form.query" />
                            </div>
                            <div class="medium-2 columns">
                                <input type="button" class="button success postfix" value="Искать" ng-click="search()" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-10 columns">
                        <div class="medium-4 columns">
                            <label>Регион</label>
                            <select ng-model="form.regions[0]" ng-options="item.id as item.name for item in regions">
                                <option selected value="">Не указано</option>
                            </select>
                        </div>
                        <div class="medium-4 columns">
                            <label>Способ закупки</label>
                            <select ng-model="form.methods[0]" ng-options="item.id as item.name for item in methods">
                                <option selected value="">Не указано</option>
                            </select>
                        </div>
                        <div class="medium-4 columns">
                            <label>Источник</label>
                            <select ng-model="form.sources[0]" ng-options="item.id as item.name for item in sources">
                                <option value="">Не указано</option>
                            </select>
                        </div>
                        <div class="medium-3 columns">
                            <label>Мининальная сумма</label>
                            <input type="text" ng-model="form.minSum" />
                        </div>
                        <div class="medium-3 columns">
                            <label>Максимальная сумма</label>
                            <input type="text" ng-model="form.maxSum" />
                        </div>
                        <div class="medium-3 columns">
                            <label>Прием заявок с</label>
                            <datepicker dp-value="form.startDate" />
                        </div>
                        <div class="medium-3 columns">
                            <label>Прием заявок по</label>
                            <datepicker dp-value="form.endDate" />
                        </div>
                    </div>
                    <div class="medium-2 columns">
                        <p>Всего найдено объявлений: <span ng-bind="data.countItems"></span></p>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div class="row">
            @*Pagination top*@
            <pagination pg-click="update(page, items)" pg-page="data.currentPage" pg-count-pages="data.countPages" pg-count-items="form.maxCount" pg-count="data.countItems"></pagination>
        </div>
        <div class="row">
            <table style="width: 100%; max-height: 500px; min-height: 300px; overflow-y: auto;">
                <thead>
                    <tr>
                        <th with="120px">Номер объявления</th>
                        <th width="300px">Описание</th>
                        <th>Источник</th>
                        <th>Метод закупки</th>
                        <th>Регион</th>
                        <th>Прием заявок</th>
                        <th>Сумма (тг.)</th>
                        <th width="50px">Документация</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="purchase in data.rows track by $index">
                        <td ng-bind="purchase.number"></td>
                        <td class="full">
                            <div><b>Наименование закупки: </b><span ng-bind="purchase.ruName"></span></div>
                            <div ng-repeat="lot in purchase.lots track by lot.id">
                                <div><b>Наименование лота: </b><span ng-bind="lot.ruName"></span></div>
                                <div><b>Описание лота: </b><span ng-bind="lot.ruDescription"></span></div>
                            </div>
                        </td>
                        <td ng-bind="purchase.source"></td>
                        <td ng-bind="purchase.method"></td>
                        <td ng-bind="purchase.venue"></td>
                        <td ng-bind="purchase.startDay | date : 'longDate'"></td>
                        <td ng-bind="purchase.sum | currency: 'тг': 2"></td>
                        <td ng-bind="{{purchase.isDocs ? 'Donwload': ''}}"></td>
                    </tr>
                    <tr ng-if="!data.rows.length">
                        <td class="text-center" colspan="8">Нет записей</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            @*pagination bottom*@
            <pagination pg-click="update(page, items)" pg-page="data.currentPage" pg-count-pages="data.countPages" pg-count-items="form.maxCount" pg-count="data.countItems"></pagination>
        </div>
    </div>
</div>