@{
    ViewBag.Title = "Перечень прошедших";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/foundation/foundation-datepicker.min.css" />
}
@section Scripts {
    <script src="~/scripts/app/controllers/auction/auction_application.js"></script>
}
<div id="container_application" class="row">
    <div ng-controller="auctionListController" class="row" ng-init="Init(2)">
        <div class="row">
            <form>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Поиск по номеру или товару</label>
                        <input type="text" ng-keyup="search()" ng-model="searchParameters.numberOrProduct" placeholder="Номер торга, наименование товара..." />
                    </div>
                    <div class="large-6 columns">
                        <label>Заказчик</label>
                        <select ng-change="search()" ng-model="searchParameters.customerid" ng-options="item.id as item.name for item in customers track by item.id">
                            <option value="">Не указано</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns">
                        <label>С</label>
                        <datepicker dp-value="searchParameters.fromDate" dp-changed="search()" />
                    </div>
                    <div class="large-3 columns">
                        <label>До</label>
                        <datepicker dp-value="searchParameters.toDate" dp-changed="search()" />
                    </div>
                    <div class="large-3 columns">
                        <label>Статус</label>
                        <select ng-change="search()" ng-model="searchParameters.statusid">
                            <option value="">Не указано</option>
                            <option value="2">Состоялся</option>
                            <option value="3">Не состоялся</option>
                        </select>
                    </div>
                    <div class="large-3 columns">
                        <label>Товарная площадка</label>
                        <select ng-change="search()" ng-model="searchParameters.site" ng-options="item.id as item.name for item in markets track by item.id">
                            <option value="">Не указано</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <pagination pg-click="updateTable(page, items)" pg-page="table.currentPage" pg-count-pages="table.countPages" pg-count-items="searchParameters.countItems" pg-count="table.countItems"></pagination>
            <div class="row">
                <table id="auctionlist" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>ДАТА АУКЦИОНА</th>
                            <th>НОМЕР</th>
                            <th>СТАТУС АУКЦИОНА</th>
                            <th>СТАТУС</th>
                            <th>НАИМЕНОВАНИЕ ТОВАРА</th>
                            <th>СТАРТОВАЯ СУММА</th>
                            <th>ОКОНЧАТЕЛЬНАЯ СУММА</th>
                            <th>ЗАКАЗЧИК</th>
                            <th>ИСТОЧНИК</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!isLoading" ng-repeat="auction in table.rows">
                            <td ng-bind="auction.date | date : 'dd-MM-yyyy'"></td>
                            <td><a ng-href="~/Auctions/Index/{{auction['<Id>k__BackingField']}}?" ng-bind="auction.number"></a></td>
                            <td class="text-center">
                                <span class="label" ng-class="auction.statusId == 2 ? 'success' : 'warning'" ng-bind="auction.status"></span>
                            </td>
                            <td><span>{{auction.statusId==2?GetWinnerStatus(GetWinningPrice(auction.procuratories), auction.procuratories):'НЕТ РЕЗУЛЬТОВ'}}</span></td>
                            <td><span ng-repeat="lot in auction.lots" ng-bind="lot.Name"></span></td>
                            <td ng-bind="GetSumLots(auction.lots) | currency : '': 2"></td>
                            <td ng-bind="GetWinningPrice(auction.procuratories) | currency : '': 2"></td>
                            <td ng-bind="auction.customer"></td>
                            <td ng-bind="auction.site"></td>
                        </tr>
                        <tr ng-if="!isLoading && !table.rows.length">
                            <td class="text-center" colspan="8">Нет записей</td>
                        </tr>
                        <tr ng-if="isLoading">
                            <td class="text-center" colspan="8">Загрузка...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination pg-click="updateTable(page, items)" pg-page="table.currentPage" pg-count-pages="table.countPages" pg-count-items="searchParameters.countItems" pg-count="table.countItems"></pagination>
            <br>
        </div>
    </div>
</div>