@{
}

@section Styles {
    <style>
        .profile {
            font-family: "Comic Sans MS";
            font-size: 13px;
            vertical-align: middle;
        }

            .profile h1,
            .profile h2,
            .profile h3,
            .profile h3,
            .profile h4,
            .profile h5,
            .profile h6 {
                font-family: 'Courier New';
            }

        .profile-block {
            padding: 10px;
            background-color: #f7f7f7;
        }

        .apricot {
            background-color: #fae5cb;
        }
    </style>
}

@section Scripts{
    <script src="~/scripts/lib/foundation/js/foundation/foundation.reveal.js"></script>
}

<div id="main_container" class="profile">
    <div class="profile-block">
        <div class="row">
            <div class="medium-4 columns">
                <div class="text-center">
                    <img src="~/Resources/Profile/images/info.png" />
                </div>
            </div>
            <div class="medium-6 columns end">
                <div class="text-center">
                    <h2>Реквизиты компании</h2>
                    <p>Здесь представлены реквизиты компании, а так же вся контактная информация</p>
                </div>
                <div class="text-right">
                    <a class="button tiny success" href="@Url.Action("CompanyDetails")">Перейти</a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-block apricot">
        <div class="row">
            <div class="medium-offset-1 medium-7 columns">
                <div class="text-center">
                    <h2>Документы</h2>
                    <p>Храните документы что бы постоянно их не загружать.</p>
                </div>
                <div class="text-right">
                    <a class="button tiny success" href="@Url.Action("Document")">Перейти</a>
                </div>
            </div>
            <div class="medium-3 columns end">
                <div class="text-center">
                    <img src="~/Resources/Profile/images/cloud.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="profile-block">
        <div class="row">
            <div class="medium-offset-3 medium-2 columns">
                <div class="text-center">
                    <img src="~/Resources/Profile/images/settings.png" />
                </div>
            </div>
            <div class="medium-7 columns">
                <div class="text-center">
                    <h2>О компании</h2>
                    <p><i>Опишите подробно о свой компании, это поможет потенциальным заказчикам найти Вас.</i></p>
                </div>
                <div class="text-right">
                    <a class="button tiny success disabled">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-block apricot">
        <div class="row">
            <div class="medium-8 columns">
                <div class="text-center">
                    <h2>Товары и услуги</h2>
                    <p>Чем точнее вы укажите список постовляемых товаров и оказываемых услуг, тем больше шансов найти торг.</p>
                </div>
                <div class="text-right">
                    <a class="button tiny success" href="@Url.Action("Product")">Перейти</a>
                </div>
            </div>
            <div class="medium-4 columns">
                <div class="text-center">
                    <img src="~/Resources/Profile/images/buy.png" />
                </div>
            </div>
        </div>
    </div>
</div>