<label>Наименование: <span ng-bind="company.name"></span></label>
<label>БИН: <span ng-bind="company.bin"></span></label>
<label>Кбе: <span ng-bind="company.kbe"></span></label>
<label>Страна: <span ng-bind="company.country"></span></label>
<label>Адрес: <span ng-bind="company.addressActual"></span></label>
<label>Телефоны: <span ng-bind="company.telephone"></span></label>
<label>E-mail: <span ng-bind="company.email"></span></label>
<label>Почтовый индекс: <span ng-bind="company.postCode"></span></label>
<label>Директор: <span ng-bind="company.director"></span></label>
<label>ИИК: <span ng-bind="company.iik"></span></label>