<table class="table" style="width: 100%;">
    <tr>
        <th>Источник</th>
        <th>Описание</th>
    </tr>
    <tr ng-repeat="grade in grades">
        <td>{{grade.source}}</td>
        <td>{{grade.description}}</td>
    </tr>
</table>
